body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.split {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;

  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 80%;

  transition:
    width 2s ease-in-out,
    background-size 2s ease-in-out;
}

.split.left {
  left: 0;
  background-image: url("./images/samsung_galaxy.png");
}

.split.right {
  right: 0;
  background-image: url("./images/iPhone_apple.png");
}

.split h1 {
  margin: 12px 0 20px;
  font-size: clamp(24px, 3vw, 40px);
  color: aliceblue;
  backdrop-filter: brightness(0.5);
  letter-spacing: 4px;
}

.split .btn {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;

  display: inline-block;
  background-color: black;
  color: white;
  padding: 15px 30px;
  font-family: inherit;
  font-size: 25px;
  border: 4px solid white;
  cursor: pointer;
  white-space: nowrap;

  transition: background-color 1s, color 1s;
}

.btn:hover {
  background-color: white;
  color: black;
}

/* El celular activo crece y ocupa más espacio */
.active-left .left,
.active-right .right {
  width: 70%;
  background-size: auto 110%;
}

/* El otro se reduce y queda a un lado */
.active-left .right,
.active-right .left {
  width: 30%;
  background-size: auto 55%;
}
